Validate email when users create new account

The email field in user creation form is optional, but we should validate it if a value is given.

Validating against what? Whether it is a valid email? Whether the email is already in use? (hint: possible information leakage) Whether the email is associated with a known spammer?

I was only thinking that it should be a valid email.

If this must be done by any means other than simply sending a "confirm your address" message, don't reinvent the wheel.  Use the relevant snippet from the well tested [Email Address Regular Expression That 99.99% Works](https://emailregex.com/).

Um, depending on how strict you want to be [that regex could be huge](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html) ;-)

I was hoping to reuse the `isEmail` in https://www.npmjs.com/package/validator.

I would go even farther and point to: https://davidcel.is/posts/stop-validating-email-addresses-with-regex/
(Which says, don't do it, or if you must, just use `/@/ ` as the regular expression)

Btw, as far as that `validator` npm package, check out the `options` docstring for that `isEmail()` call. Doesn't that seem like the benefit-to-complexity ration is a bit low?

> If this must be done by any means other than simply sending a "confirm your address" message, don't reinvent the wheel. Use the relevant snippet from the well tested [Email Address Regular Expression That 99.99% Works](https://emailregex.com/).

We already have a confirmation email, so we could drop this issue because of that. 

I was thinking of this merely as a helpful addition for those inserting an invalid email.

@Ryuno-Ki -- Note that [your cited regex page](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html) is based on [RFC 822](https://tools.ietf.org/html/rfc822), which was obsoleted by [RFC 2822](https://tools.ietf.org/html/rfc2822), and in turn by [RFC 5322](https://tools.ietf.org/html/rfc5322), on which [my cited regex page](https://emailregex.com/) is based.

@dmitrizagidulin -- Indeed.  Hence my _simply send a "confirm your address" message._  On the other hand, as David Celis also recommends, [Kicksend’s mail checker](https://github.com/mailcheck/mailcheck) looks potentially helpful.

> Btw, as far as that `validator` npm package, check out the `options` docstring for that `isEmail()` call. Doesn't that seem like the benefit-to-complexity ration is a bit low?

I've made use of `validator.isEmail` in https://github.com/solid/node-solid-server/issues/824, and didn't see the need for setting any options. But then again, I'm not good at validation of emails, so might be completely off?

> @dmitrizagidulin -- Indeed. Hence my _simply send a "confirm your address" message._ On the other hand, as David Celis also recommends, [Kicksend’s mail checker](https://github.com/mailcheck/mailcheck) looks potentially helpful.

`mailcheck.js` looks very interesting to use on the front-end part of this (I was only thinking of backend initially).